@page "/"
@using com.mahonkin.tim.TeaDataService.DataModel
@using com.mahonkin.tim.TeaDataService.Services
@inject IDataService<TeaModel> DataService;

<PageTitle>Teas</PageTitle>

<h1>Teas</h1>
@if (teas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Brew Temperature</th>
                <th>Steep Time</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (TeaModel tea in teas)
            {
                <tr>
                    <td @onclick="() => EditTeaAsync(tea)">@tea.Name</td>
                    <td @onclick="() => EditTeaAsync(tea)">@tea.BrewTemp</td>
                    <td @onclick="() => EditTeaAsync(tea)">@tea.SteepTime.ToString(@"mm\:ss")</td>
                    <td><button @onclick="async () => await DeleteTeaAsync(tea)">Delete</button></td>
                </tr>
            }
            <tr>
                <td><input id="teaName" name="teaName" placeholder="Tea Name" @bind="teaName" /></td>
                <td><input id="teaBrewTemp" name="teaBrewTemp" placeholder="Brew Temp" @bind="teaBrewTemp" /></td>
                <td><input id="teaSteepTime" name="teaSteepTime" placeholder="Steep Time" @bind="teaSteepTime" /></td>
                <td><button @onclick="@AddTeaAsync">Add</button></td>
            </tr>
        </tbody>
    </table>
    @if (ShowEditComponent)
    {
        <EditTea />
    }
    @renderValidationErrors
}